.banner {
	display: block;
	background-color: #FF6464;
	color: #FFF;
	/* margin-bottom: 50px; */
	min-height: 10vh;
	width: 98vw;
}

.bannerItems {
	
	font-family: 'Oswald', sans serif;
	font-size: 30px;
	padding: 100px 50px;
	text-align: end;
}
