.banner2 {
	display: block;
	background-color: #00fa9a;
	color: #FFF;
	min-height: 20vh;
	width: 98vw;
	margin-top:100px;
}

.bannerItems2 {
	
	font-family: 'Oswald', sans serif;
	font-size: 30px;
	padding: 50px 50px;
	text-align: end;
}
