#contact{
	margin-top: 100px;
height: 100vh;
}

.contact__title{
	font-family: 'Oswald', sans serif;
	font-size: 40px;
	margin: 20px;
	position:relative
}
.contact__title::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: .5em; 
	width:235px;
	z-index: -1;
	opacity: 0.8;
	transition: transform .3s;
	background: #FFBDBD;

 }
.contact__container{
	background-color: #FFBDBD;
	display: block;
	align-items: center;
	border-radius: 10px;
	max-width: 500px;
	min-height: 30vh;
	margin: 150px auto;
	padding-top: 50px;
}
.contact__text{
	font-family: 'Roboto', sans serif;
	font-size: 18px;
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	justify-content: center;
	align-items: center;
	padding: 20px 10px;
	border-radius: 20px;
	text-align: center;	
}
.lien:hover{
	cursor: pointer;
	color:#FF6464;
}

@media screen and (max-width:767px){
	.contact__container{
		display: flexbox;
		flex-direction: column;
	}
}
